<section class="login container">
  <div class="login__column">
    <h3>Webstar</h3>
    <h1>Frontend</h1>

    <form
      class="login__column--form"
      [formGroup]="loginForm"
      (ngSubmit)="userAuth()"
    >
      <app-input-field
        [form]="loginForm"
        [label]="'User Name'"
        [controllerName]="'userName'"
        [type]="'text'"
        [placeholder]="'Enter user name...'"
        [validation]="
          loginForm.get('userName')?.invalid && loginForm.get('userName')?.dirty
        "
        [validationLabel]="'Not a valid user name!'"
      ></app-input-field>

      <app-input-field
        [form]="loginForm"
        [label]="'Password'"
        [controllerName]="'password'"
        [type]="'password'"
        [placeholder]="'Enter password...'"
        [validation]="
          loginForm.get('password')?.invalid && loginForm.get('password')?.dirty
        "
        [validationLabel]="'Not a valid password!'"
      ></app-input-field>

      <button type="submit" class="btn-solid">Belépés</button>
    </form>
  </div>
</section>
