<section class="login">
  <div class="login__column">
    <h3>Webstar</h3>
    <h1>Frontend</h1>

    <form
      class="login__column--form"
      [formGroup]="loginForm"
      (ngSubmit)="userAuth()"
    >
      <app-input-field
        [form]="loginForm"
        [label]="'Username'"
        [controllerName]="'username'"
        [type]="'text'"
        [placeholder]="'Enter username...'"
        [validation]="
          loginForm.get('username')?.invalid && loginForm.get('username')?.dirty
        "
        [validationLabel]="'Not a valid username!'"
      ></app-input-field>

      <app-input-field
        [form]="loginForm"
        [label]="'Password'"
        [controllerName]="'password'"
        [type]="'password'"
        [placeholder]="'Enter password...'"
        [validation]="
          loginForm.get('password')?.invalid && loginForm.get('password')?.dirty
        "
        [validationLabel]="'Not a valid password!'"
      ></app-input-field>

      <button [disabled]="loginForm.invalid" type="submit" class="btn-solid">
        Belépés
      </button>
    </form>
    <small class="login__errorLogin" *ngIf="errorLogin"
      >Login error: {{ errorLogin }}</small
    >
  </div>
</section>
