@use '../../../../styles/base/mixins' as *;
@use '../../../../styles/base/colors' as *;

.login {
  @include setFlexBox(column, center, center);
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: url('../../../../assets/images/background-images/bg_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  &__column{
    position: relative;
    height: 500px;
    text-align: center;

  h1 {
    @include title($white, SfDistantGalaxyAltoutline, 70px);
    font-weight: 400;
    padding: 0;
  }

  h3 {
      @include title($white, Starjedi, 30px);
      margin-top: 0;
    }

    &--form {
      @include setFlexBox(column, center, center);
      margin-top: 5em;
    }

    button {
      margin-top: 3rem;
    }
  }
}

