<section>
  <div class="character">
    <div class="character__info">
      <div class="character__info--box">
        <div class="square">
          <div class="black"></div>
        </div>
        <div class="text">
          <h3>Side</h3>
          <h5>Dark</h5>
        </div>
        <div class="icon">
          <img src="../../../../assets/icons/star.svg" alt="" />
        </div>
        <div class="text">
          <h3>Side</h3>
          <h5>Dark</h5>
        </div>
      </div>
      <div class="character__info--details">
        <h1 class="character-name">Boba Fett</h1>
        <p class="descripton">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ex
          illum quibusdam, sed quaerat necessitatibus asperiores dicta aperiam
          ad aliquid suscipit. Iusto ea porro excepturi dicta ipsum voluptatum
          corporis recusandae! Optio culpa fugit dolor, delectus suscipit sit
          repellat maiores eligendi quisquam minus facere modi possimus eius
          totam sunt eum ipsam.
        </p>
      </div>
      <div class="character__info--modules">
        <h3>Modules</h3>
        <div class="module">
          <div><h3>CRUD Management</h3></div>
          <div>
            <p>Go to Character Edit Module</p>
            <button class="btn-bordered">Edit Characters</button>
          </div>
        </div>
      </div>
    </div>
    <div class="character__selector">
      <div class="character__selector--paginator">
        <div></div>
        <div>
          <img src="../../../../assets/icons/arrow_circle.png" alt="left" />
          <img
            class="right-arrow"
            src="../../../../assets/icons/arrow_circle.png"
            alt="right"
          />
        </div>
      </div>
      <div class="character__selector--char-image">
        <img src="../../../../assets/images/characters/boba.png" alt="" />
        <div>
          <span class="circle"></span>
        </div>
      </div>
    </div>
  </div>
</section>
