<section>
  <div class="character">
    <div class="character__info">
      <div class="character__info--box">
        <div class="square">
          <div class="black"></div>
        </div>
        <div class="text">
          <h3>Side</h3>
          <h5>{{ selectedCharacter?.side }}</h5>
        </div>
        <div class="icon">
          <img src="../../../../assets/icons/star.svg" alt="" />
        </div>
        <div class="text">
          <h3>Special Skill</h3>
          <h5>{{ selectedCharacter?.force?.power }}</h5>
        </div>
      </div>
      <div class="character__info--details">
        <h1
          class="character-name"
          [innerHTML]="selectedCharacter?.name | safeHtml"
        ></h1>
        <p class="descripton">
          {{ selectedCharacter?.description }}
        </p>
      </div>
    </div>
    <div class="character__selector">
      <div class="character__selector--paginator">
        <div></div>
        <div>
          <img
            (click)="pagerLeft()"
            src="../../../../assets/icons/arrow_circle.png"
            alt="left"
          />
          <img
            (click)="pagerRight()"
            class="right-arrow"
            src="../../../../assets/icons/arrow_circle.png"
            alt="right"
          />
        </div>
      </div>
      <div class="character__selector--char-image">
        <img
          *ngIf="selectedCharacter?.id"
          src="../../../../assets/images/characters/{{
            selectedCharacter?.id
          }}.png"
          alt=""
        />
        <div>
          <span class="circle"></span>
        </div>
      </div>
    </div>
  </div>
</section>
