@use '../../../../../styles/base/colors' as *;
@use '../../../../../styles/base/mixins' as *;

label{
  @include text($white, PoppinsBold);
  margin-top: 1em;
}

select{
  @include title($black, PoppinsRegular, 16px);
  display: inline-block;
  border: 1px solid transparent;
  padding: .6em 5em;
  border-radius: .5rem;
  text-align: center;
}

small{
  @include text($red, PoppinsRegular);
  font-weight: 400;
}
