@use '../../../../../styles/base/colors' as *;
@use '../../../../../styles/base/mixins' as *;

div {
@include setFlexBox(column, center, center);

label{
  @include text($white, PoppinsBold);
  margin-top: 1em;
}

input{
  @include title($black, PoppinsRegular, 16px);
  display: inline-block;
  border: 1px solid transparent;
  padding: .6em 5em;
  border-radius: .5rem;
  text-align: center;
}
}
small{
  @include text($red, PoppinsRegular);
  display: inline-block;
  margin-top: 1em;
  padding: .5em 1em;
  border-radius: .5rem;
  background-color:$white ;
}

