@use '../../../../styles/base/mixins' as *;
@use '../../../../styles/base/colors' as *;

.copyright {
  @include text($white, PoppinsRegular);
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: $white;
}
